
		div,footer,main,article,section,i,h2{
			min-height: 100px;
			margin: 0 auto;
			padding:10px;
			font-family: 'Orbitron', sans-serif;
			color:rgba(0,0,0,.8);

		}
		h2{
			min-height:50px;
			padding:10px
		}

		div.wrapper{
			margin: 0 auto;
			background-image: url(background.jpg);
			background-size: 100%;
		}
		main{
			width:900px;
			margin:0 auto;
		}
		#article1{
			background-color: rgba(255,255,255,.4);
		}
		#article2{
			background-color: rgba(255,255,255,.4);
		}
		header{
			background-color: rgba(0,0,0,0);
			max-height: 10px;
		}
		footer{
			background-color: rgba(0,0,0,0);

		}
		article{
			width:600px;
		}
		article.songs section{
			border: 2px solid white;
			margin:auto;
			padding:10px;
		}
		article.songs p{
			float:right;
			position: inline;
			padding:10px;
		}
		article section p{
			font-size: 30px
		}	
		article section{
			min-height: 150px
		}
		footer p{
			
			width:100%;
			margin:auto;
			text-align: center;
		}

		body{
			margin: 0px;
		}
		ul.menu{
			list-style-type: none;
			margin:0;
			padding:0;
			
		}
		li{
			display: inline-block;
		}
		#myBtn{
			color:rgba(255,255,255,.9);
			padding-left: 10px;
			background-color: rgba(0,0,0,0);
		}

		footer p a i{
			background-color: rgba(0,0,0,0);
			margin: auto;

		}
		ul.menu li a{
			display: block;
			width: 100px;
			padding: 10px;
			text-align: center;
			text-decoration:none;
			margin:auto;
			
		}
		ul.menu img{
			margin:auto;
			padding:22px;
		}
		ul li a.home{
			position:relative;
			left:530px;
			bottom:730px;
			width:340px;
			height:100px;	
		}
		ul li a.audio{
			position:relative;
			left:155px;
			bottom:535px;
			width:375px;
			height:100px;
		}
		ul li a.visual{
			position:relative;
			left:-255px;
			bottom:345px;
			width:400px;
			height:100px;
		}
		ul li a.contact{
			position:relative;
			left:437px;
			bottom:290px;
			width:550px;
			height:100px;
		}
		li a.home:hover {
			background-color: rgba(175,34,34,.3);
			
		}
		li a.audio:hover {
			background-color: rgba(87,79,211,.3);
		}
		li a.visual:hover {
			background-color: rgba(54,178,73,.3);
		}
		li a.contact:hover {
			background-color: rgba(222,224,97,.3);
		}
		li a.active{
			background-color: #888;
		}
		ul img.home{
			color: #FF6464;
			height:150px;
			display:block;
			margin:auto;
			position:relative;
			left:15px;
		}
		ul img.audio{
			color: #647FFF;
			height:140px;
			display:block;
			margin:auto;
		}
		ul img.visual{
			color:#60C154;
			height:150px;
			display:block;
			margin:auto;
		}
		ul img.contact{
			color: #E5E860;
			height:140px;
			display:block;
			margin:auto;
		}
		#subTitle{
			color:rgba(79,104,201,.9);
		}

		.modal {
		    display: none;
		    position: fixed;
		    z-index: 1;
		    padding: 0px;
		    left: 0;
		    top: 0;
		    width: 100%;
			height: 100%;
		    background-color: rgb(0,0,0);
		    background-color: rgba(255,255,255,0.4);
		}
		.modal-content {
			
		    background-color: rgba(255,255,255,.8);
		    margin: auto;
		    padding: 20px;
		    border: 1px solid #888;
		    width: 100%;
		    height: 100%;
		}
		.close {
		    color: #aaaaaa;
		    float: right;
		    padding-right:50px;
		    padding-top: 0;
		    font-size: 28px;
		    font-weight: bold;
		}

		.close:hover,
		.close:focus {
		    color: #000;
		    text-decoration: none;
		    cursor: pointer;
		}




		.modal2 {
		    display: none;
		    position: fixed;
		    z-index: 1;
		    padding: 0px;
		    left: 0;
		    top: 0;
		    width: 100%;
			height: 100%;
		    background-color: rgb(0,0,0);
		    background-color: rgba(0,100,200,0.2);
		}
		.modal-content2 {
			border: 1px black solid;
		    background-color: #fefefe;
		    margin: 100px auto;
		    padding: 20px;
		    border: 1px solid #888;
		    width: 60%;
		    height: 22%;
		    
		}
		.close2 {
		    color: #aaaaaa;
		    float: right;
		    padding-right:50px;
		    padding-top: 0;
		    font-size: 28px;
		    font-weight: bold;
		}
		.close2:hover,
		.close2:focus {
		    color: #000;
		    text-decoration: none;
		    cursor: pointer;
		}





		.modal3 {
		    display: none;
		    position: fixed;
		    z-index: 1;
		    padding: 0px;
		    left: 0;
		    top: 0;
		    width: 100%;
			height: 100%;
		    background-color: rgb(0,0,0);
		    background-color: rgba(0,100,200,0.2);
		}
		.modal-content3 {
			border: 1px black solid;
		    background-color: #fefefe;
		    margin: 100px auto;
		    padding: 20px;
		    border: 1px solid #888;
		    width: 60%;
		    height: 22%;
		    
		}
		.close3 {
		    color: #aaaaaa;
		    float: right;
		    padding-right:50px;
		    padding-top: 0;
		    font-size: 28px;
		    font-weight: bold;
		}

		.close3:hover,
		.close3:focus {
		    color: #000;
		    text-decoration: none;
		    cursor: pointer;
		}

		img.audioTitle{
			width:300px;
		}
		#splitter{
			background-color: rgba(0,0,0,0);
		}
		a.button {

			padding: 10px;
			float:right;
		    -webkit-appearance: button;
		    -moz-appearance: button;
		    appearance: button;

		    text-decoration: none;
		    color: initial;
		}
		a.button2 {
			padding: 10px;
			float:right;
		    -webkit-appearance: button;
		    -moz-appearance: button;
		    appearance: button;

		    text-decoration: none;
		    color: initial;
		}
		a.button3 {
			position: relative;
			right:120px;
			float:right;
		    -webkit-appearance: button;
		    -moz-appearance: button;
		    appearance: button;
			font-size: 30px;
		    text-decoration: none;
		    color: initial;
		    background-color: background-color: rgb(150,150,150);
		}
		.button4 {
			padding: 10px;
			float:right;
		    -webkit-appearance: button;
		    -moz-appearance: button;
		    appearance: button;

		    text-decoration: none;
		    color: initial;
		}